/* defined variables */
:root {
  --bgmaincolor: rgb(214, 214, 214);
  --bgsecondarycolor: rgb(0, 0, 0);
  --bgterciarycolor: rgb(34, 53, 39);
  --bghovercolor: rgb(131, 165, 133);
  --textmaincolor: rgb(21, 29, 21);
  --textsecondarycolor: rgb(251, 252, 251);
  --texthovercolor: rgb(21, 29, 21);
}

.body-1 {
  margin: 0px 10px 0px 10px;
  background-color: var(--bgsecondarycolor);
  color: var(--textmaincolor);
  font-size: 16px;
  font-family: "Courier", cursive;
}

.container.my-grid {
  display: grid;
  grid-template-rows: 25vh 40vh auto auto;
  grid-template-columns: auto;
  gap: 10px;
}

.container.header {
  position: fixed;
  display: flex;
  height: 25vh;
  left: 10px;
  right: 10px;
  background-color: var(--bgmaincolor);
  font-family: "Bookman", monospace;
  align-content: center;
}
.container.header .header.content {
  display: flex;
  height: 45%;
  flex-direction: row;
}
.container.header .header.content .content.menu-item {
  display: contents;
  width: fit-content;
  align-items: center;
}
.container.header .header.content .content.menu-item .menu-item.item {
  display: flex;
  height: 100%;
  margin-block: 0px;
  padding: 0px 5vw;
  border-right: 2px solid var(--textmaincolor);
  background-color: var(--bgmaincolor);
  align-items: center;
  justify-content: center;
}
.container.header .header.content .content.menu-item .menu-item.item:hover {
  color: var(--textmaincolor);
  background-color: var(--textsecondarycolor);
}

.container.header {
  z-index: 4;
  height: 25vh;
  flex-direction: column;
  justify-content: center;
}

.header.nav {
  z-index: 4;
  display: none;
  position: fixed;
  top: 25vh;
  width: fit-content;
  height: fit-content;
  border: 3px solid var(--textmaincolor);
  background-color: var(--bgmaincolor);
}

.container.nav {
  display: none;
}

.container.fixed {
  position: fixed;
  height: 40vh;
  overflow: hidden;
  top: calc(25vh + 10px);
  left: 10px;
  right: 10px;
  justify-content: center;
}
.container.fixed .fixed.article {
  position: sticky;
  display: flex;
  flex-direction: column;
  z-index: 2;
  width: 100%;
  height: 100%;
  max-height: 298px;
  align-items: flex-start;
  justify-content: center;
  background-image: linear-gradient(90deg, rgba(168, 206, 189, 0.85) 40%, rgba(168, 206, 189, 0.75) 75%, rgba(168, 206, 189, 0.101) 95%);
}

.container.container-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(34, 53, 39, 0.99) 20%, rgba(34, 53, 39, 0.801) 80%, rgba(34, 53, 39, 0.101) 95%);
}

.container.article {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  z-index: 3;
  background-color: var(--bgterciarycolor);
  color: var(--textsecondarycolor);
  grid-row: 3;
  justify-content: center;
}
.container.article .article.subject {
  margin: 0.625rem;
  padding: 0.625rem;
  background-color: #5b8672;
  border-radius: 2em;
}
.container.article .article.subject .subject.header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container.articlegrid {
  display: flex;
  flex-direction: column;
}
.container.articlegrid .articlegrid.tab {
  width: fit-content;
  text-align: center;
}
.container.articlegrid .articlegrid.tab .tab.project {
  padding: 15px;
  white-space: nowrap;
  border: 3px solid var(--textsecondarycolor);
  color: var(--textmaincolor);
  background-color: var(--bgmaincolor);
}
.container.articlegrid .articlegrid.tab .tab.project:hover {
  color: var(--textsecondarycolor);
  background-color: var(--bgterciarycolor);
}
.container.articlegrid .articlegrid.tab .tab.project.active {
  color: var(--textsecondarycolor);
  background-color: var(--bgterciarycolor);
}
.container.articlegrid .articlegrid.content {
  display: none;
  width: 100%;
  margin-bottom: 10px;
  max-height: max-content;
  color: var(--textmaincolor);
  border: 3px solid var(--textsecondarycolor);
  border-radius: 0 0em 0.5em 0.5em;
}
.container.articlegrid .articlegrid.content.active {
  display: block;
}

.container.articlepage {
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  min-height: 70vh;
  background-color: var(--bgterciarycolor);
  grid-row: 2/span 2;
}
.container.articlepage .articlepage.article {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 15px;
  background-color: var(--bgmaincolor);
  color: var(--textmaincolor);
}
.container.articlepage .articlepage.article .article.contents .contents.image.text {
  padding: 10px 15px;
  width: fit-content;
  background-color: var(--bgterciarycolor);
}
.container.articlepage .articlepage.article .article.contents .contents.image.text pre {
  padding: 10px 30px;
  width: fit-content;
  color: white;
  background-color: black;
}
.container.articlepage .articlepage.article .article.contents p {
  padding: 0px 30px;
  line-height: 130%;
  letter-spacing: -0.04em;
}

.container.large-article {
  z-index: 1;
  display: block;
  left: 0;
  right: 0;
  padding: 0 20% 0 20%;
  background-color: var(--bgmaincolor);
  grid-row: 2/span 2;
  grid-column: 1/span 3;
}
.container.large-article .large-article.title {
  width: 100%;
  text-align: center;
}

.modal.imgModal {
  display: none;
  z-index: 3;
  position: fixed;
  left: 10px;
  top: 15vh;
  right: 10px;
  height: 100%;
  padding: 5vh;
  background-color: rgba(104, 144, 126, 0.7);
}
.modal.imgModal .imgModal.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal.button {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: flex-end;
}

.button.showModal {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.button.showModal:hover {
  cursor: pointer;
}

.button.close {
  border: none;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  font-size: 34px;
}

.contents.code {
  max-width: max-content;
  background-color: var(--bgterciarycolor);
}

.contents.image.large,
.contents.image.small {
  width: fit-content;
  margin: 0px 30px;
  padding: 10px 15px;
  background-color: var(--bgterciarycolor);
}

.contents.image.large img {
  max-height: 65vh;
}

.contents.image.small {
  max-width: 50%;
}

.contents.image.small img {
  max-height: 35vh;
  align-items: center;
  justify-content: center;
}

.contents.image.small,
.contents.image.large img:hover {
  cursor: pointer;
}

.contents.multiple.images {
  display: flex;
  flex-direction: row;
}

.container.C {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 1em;
}
.container.C .C.tab {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.container.C .C.tab .tab.project {
  flex-grow: 1;
  background-color: var(--bghovercolor);
  height: 50px;
  border-top: none;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  border-left: none;
}
.container.C .C.tab .tab.project:hover {
  background-color: var(--bgmaincolor);
  color: var(--textmaincolor);
}
.container.C .C.tab .tab.project.active {
  background-color: var(--bgmaincolor);
  color: var(--textmaincolor);
}
.container.C .C.tab .tab.project span {
  display: none;
}
.container.C .C.description {
  display: none;
  width: 100%;
  margin: 0 15px 0 15px;
}
.container.C .C.description.active {
  display: block;
}

.container.Web {
  display: flex;
  flex-direction: column;
}

.container.slider {
  display: flex;
  position: relative;
  width: 100%;
  border: 3px inset;
  border-radius: 1em;
}
.container.slider .slider.button {
  position: absolute;
  margin: 4px;
  padding: 5px;
  width: 65px;
  border: 3px ridge;
  border-radius: 1em;
  align-items: center;
  justify-content: center;
}

.container.footer {
  display: flex;
  flex-direction: row;
  z-index: 1;
  background-color: var(--bgmaincolor);
  border-top: 10px solid black;
  grid-row: 4;
  justify-content: center;
  align-content: center;
}
.container.footer .footer.colorPicker {
  display: flex;
  flex-direction: column;
  width: 33%;
  justify-content: flex-start;
  align-items: flex-start;
}
.container.footer .footer.colorPicker .colorPicker.container {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
}
.container.footer .footer.colorPicker .colorPicker.theme {
  border: 2px solid;
}
.container.footer .footer.colorPicker h3 {
  margin: 5px 5px;
}
.container.footer .footer.text {
  display: flex;
  flex-direction: column;
  width: 33%;
}
.container.footer .footer.social {
  display: flex;
  width: 33%;
  align-items: flex-start;
  justify-content: flex-end;
}
.container.footer .footer.social .social.contents {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 2px solid black;
}
.container.footer .footer.social .social.contents .contents.icons {
  display: none;
  padding: 5px;
  width: 0px;
  height: 16px;
}
.container.footer .footer.social .social.contents .contents.icons .icon {
  margin: 0 22px 0 0;
  width: 0px;
  height: 16px;
  transition: width 1s;
}
.container.footer .footer.social .social.contents h3 {
  margin: 5px;
}
.container.footer .footer.social .social.contents:hover {
  text-decoration: none;
}
.container.footer .footer.social .social.contents:hover .contents.icons {
  display: flex;
  width: fit-content;
}
.container.footer .footer.social .social.contents:hover .contents.icons .icon {
  width: 18px;
}

.header.social {
  display: none;
}

li {
  margin: 0.25em 0 0.25em 0;
}

h1 {
  display: flex;
  margin: 0.5em 0 0.5em 0;
  font-size: 38px;
  justify-content: center;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

a {
  color: var(--textmaincolor);
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

a:hover {
  text-decoration-color: var(--textsecondarycolor);
  text-decoration-line: underline;
}

a img {
  padding: 0 2px 0 2px;
}

img {
  max-width: 100%;
  height: auto;
}

#thisId {
  display: none;
}

#headerProjectsButton {
  height: 100%;
  padding: 0px;
  border: none;
}

#html-image {
  position: absolute;
  z-index: 1;
}

#fixedLink {
  margin: 30px 0 0 25px;
}

#titleProject-1 {
  border-top-left-radius: 1em;
}

#titleProject-3 {
  border-top-right-radius: 1em;
  border-right: none;
}

/*# sourceMappingURL=smallscreen.css.map */
